body {
  display: flex;
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

$sidebar-width: 30vw;

.sidebar {
  width: $sidebar-width;
  height: 100vh;
}

main {
  width: 100vw - $sidebar-width;
  align-self: center;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
  
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

button {
  border: none;

}

a, button {
  cursor: pointer;
}