body {
  display: flex;
}

$sidebar-width: 30vw;

.sidebar {
  min-width: 250px;
  width: $sidebar-width;
  height: 100vh;
}

main {
  width: 100vw - $sidebar-width;
}


em {
  font-style: italic;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: underline;

  color: inherit;
}
