$primary-color: #596d48;
$primary-dark: #4a5e39;

.content {
  font-weight: bold;
  padding-bottom: 1rem;
}

.info,
.action,
.form {
  padding: 0 15vw 0 50px;
}

.info {
  margin-bottom: 25px;
  
  .content {
    font-size: 1.5rem;
  }
}

.form {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 35px;

  .content {
    font-size: 1.2rem;
  }
}

.form__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;

  div > * {
    display: block;
  }

  label {
    font-size: 0.75rem;
    font-weight: bold;

    color: darkslategrey;
    margin-bottom: 1px;

    text-transform: uppercase;
    letter-spacing: 1px;
  }

  input {
    width: 80%;
    padding: 5px;
  }
}

.action__btn {
  padding: 0.8rem 2rem;
  margin: 1rem 0;

  font-weight: bold;
  border-radius: 6px;

  color: white;
  background-color: $primary-color;

  &:hover,
  &:active {
    background-color: $primary-dark;
  }
}

.action__note > a {
  font-weight: bold;
  color: $primary-color;
}
