@font-face {
  font-family: "Norse";
  src: url("../../app/assets/fonts/Norse-Bold.otf");
}

.sidebar {
  background-image: url("../../app/assets/image/sidebar.jpg");
  background-size: cover;

  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar__hero,
.sidebar__credit {
  position: relative;
}

.sidebar__hero {
  background-color: hsla(0, 0%, 0%, 0.5);
  padding: 20px 0;
  top: 17%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__title {
  font-family: "Norse", serif;
  font-size: 100px;
}

.sidebar__credit {
  bottom: 3%;
}
