@font-face {
  font-family: "Norse";
  src: url("../../app/assets/fonts/Norse-Bold.otf");
}

.sidebar {
  background-image: url("../../app/assets/image/image-sidebar-desktop.jpg");
  color: white;
  text-align: center;
}

.sidebar__hero {
  background-color: hsla(0, 0%, 0%, .75);
  padding: 1rem 0;
}

.sidebar__title {
  display: inline;
  font-size: 100px;
  font-family: "Norse", serif ;
}